section.description
	.container
		h2.description__title.title Что тебя ждет?
		.description__wrapper
			.description__col
				p.description__text Affhub 
					span.marker.marker--pink приготовил новый формат&nbsp;  
					| вечеринок в стиле иммерсивного театра! 
					span.marker.marker--pink  Это погружение в другую&nbsp; 
					| реальность с помощью масштабного  квеста на 250 арбитранов, где каждый участник становится героем в мире, который создаем мы!
				img.description__photo.description__photo--left.description__photo--desc(src="img/description__photo-1.jpg", alt="")
			.description__col
				.description__wrap
					p.description__text 
						span.marker.marker--yellow 3х этажное здание 
						|  заполненное арт-объектами, инсталляциями, неоном и необычными конструкциям. Профессионал
						span.marker.marker--yellow ьные актёры и уникаль
						| ный сюжет вовлекут каждого участника, активный нетворкинг 
						span.marker.marker--yellow гарантирован!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					p.description__text После 
						span.marker.marker--purple масштабного квеста 
						| все участники переместится 
						span.marker.marker--purple на рейв вечеринку, 
						| где помимо фуршета, бара и шоу-программы, будет подготовлены разнообразные 
						span.marker.marker--purple активности для всех гостей!&nbsp;&nbsp;
				img.description__photo.description__photo--right.description__photo--desc(src="img/description__photo-2.jpg", alt="")
		img.description__photo.description__photo--left.description__photo--mob(src="img/description__photo-1.jpg", alt="")
		img.description__photo.description__photo--right.description__photo--mob(src="img/description__photo-2.jpg", alt="")
		h2.description__subtitle.title 
			span.bg-world A
				span ff
				| hub Meetup 
			| Futurism Night - это:
		.description__list
			.description-item
				img.description-item__icon(src="img/svg/description_1.svg", alt="ico")
				p.description-item__text Масштабный квест для 200+ участников в стиле Futurism
			.description-item
				img.description-item__icon(src="img/svg/description_2.svg", alt="ico")
				p.description-item__text Для арбитранов и топов affiliate индустрии
			.description-item
				img.description-item__icon(src="img/svg/description_3.svg", alt="ico")
				p.description-item__text Дымные кальяны и бар all-in
			.description-item
				img.description-item__icon(src="img/svg/description_4.svg", alt="ico")
				p.description-item__text Рейв-вечеринка
			.description-item
				img.description-item__icon(src="img/svg/description_5.svg", alt="ico")
				p.description-item__text Шоу программа и прочие активности для гостей