section.gallery
	.container
		h2.gallery__title.title Фотографии с наших мероприятий
		p.gallery__subtitle тут сохранились ваши эмоции и настроение!
		.gallery__wrap.js-gallery
			.gallery__row
				.gallery__col
					.gallery-item.gallery-item--big.gallery-item--big-orange
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_1.jpg", alt="Киев")
						.gallery-item__desc
							p.gallery-item__city.title Киев
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.4144152852303214" target="_blank") Перейти в альбом
				.gallery__col.gallery__col--flex
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_2.jpg", alt="Санкт-Петербург")
						.gallery-item__desc
							p.gallery-item__city.title Санкт-Петербург
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2993628530688991") Перейти в альбом
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_3.jpg", alt="Новгород")
						.gallery-item__desc
							p.gallery-item__city.title Новгород
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2546081345443714") Перейти в альбом
			.gallery__row
				.gallery__col.gallery__col--flex
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_4.jpg", alt="Львов")
						.gallery-item__desc
							p.gallery-item__city.title Львов
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2753136881404825") Перейти в альбом
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_5.jpg", alt="Одесса")
						.gallery-item__desc
							p.gallery-item__city.title Одесса
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2531208116931037") Перейти в альбом
				.gallery__col
					.gallery-item.gallery-item--big.gallery-item--big-pink
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_6.jpg", alt="Ростов-на-Дону")
						.gallery-item__desc
							p.gallery-item__city.title Ростов-на-Дону
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2710677745650739" target="_blank") Перейти в альбом
			.gallery__row
				.gallery__col
					.gallery-item.gallery-item--big.gallery-item--big-red
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_7.jpg", alt="Харьков")
						.gallery-item__desc
							p.gallery-item__city.title Харьков
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2762773490441164" target="_blank") Перейти в альбом
				.gallery__col.gallery__col--flex
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_8.jpg", alt="Днепр")
						.gallery-item__desc
							p.gallery-item__city.title Днепр
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.3682278068490697") Перейти в альбом
					.gallery-item
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_9.jpg", alt="Тбилиси")
						.gallery-item__desc
							p.gallery-item__city.title Тбилиси
							a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.4242803675771464") Перейти в альбом
			.gallery__row
					.gallery-item.gallery-item--main
						.gallery-item__photo-wrap
							img.gallery-item__photo(src="img/gallery_10.jpg", alt="Affhub Futurism Night")
						.gallery-item__desc
							p.gallery-item__city.title Affhub Futurism Night
						button.gallery-item__btn.btn Регистрируйся сейчас
							span.btn__label.btn__label--1
								span Sold Out
								span Sold Out
								span Sold Out
							span.btn__label.btn__label--2
								span Sold Out
								span Sold Out
								span Sold Out
		button.gallery__btn.js-show-gallery Показать ещё
			i.fico.fico-arrowS