.interruption
	.interruption__letters.interruption__letters--2 
		span.col
			span с
			span с
			span с
		span.row тсссссссссссс
	.interruption__letters.interruption__letters--1 тссссссссссссссссссссс
	.container
		.interruption__wrapper
			img.interruption__photo(src="img/interruption_photo.png", alt="interruption")
			p.interruption__text.title мы не забудем перевернуть календарь...
		.interruption__bottom
			h2.interruption__title-prize.title Испытай фортуну
				span.color и забирай свой приз 
				| от партнеров 
				span.bg-world A
					span ff
					| hub
			img.interruption__prize(src="img/prize.png" alt="prize")