.interruption
	.interruption__letters.interruption__letters--2.title 
		span.col
			span с
			span с
			span с
		span.row тссссссссссссссссссссссссс
	.interruption__letters.interruption__letters--1.title тссссссссссссссссссссссссссссссссссссссссс
	.container
		.interruption__wrapper
			img.interruption__photo(src="img/interruption_photo.png", alt="interruption")
			p.interruption__text.title мы не забудем перевернуть календарь...