section.sponsors
	.container
		h2.sponsors__title.title GENERAL SPONSOR
		a(href="https://pmaffiliates.com/" target="_black") 
			img.sponsors__main(src="img/svg/main_sponsor.svg", alt="GENERAL SPONSOR")
		.sponsors__list
			a.sponsor.sponsor--1(href="https://hugeoffers.com/" target="_black")
				p.sponsor__desc
					span Exclusive 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_1.png", alt="")
			a.sponsor.sponsor--2(href="https://click2.money/" target="_black")
				p.sponsor__desc
					span Welcome  
					| Sponsor
				img.sponsor__photo(src="img/sponsor_2.png", alt="")
			a.sponsor.sponsor--3(href="https://playcash.network/" target="_black")
				p.sponsor__desc
					span DJ&Show 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_3.png", alt="")
			a.sponsor.sponsor--4(href="https://aivix.com/ru/" target="_black")
				p.sponsor__desc
					span Photo Zone 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_4.png", alt="")
			a.sponsor.sponsor--6(href="https://pin-up.partners/" target="_black")
				p.sponsor__desc
					span Alcohol 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_5.png", alt="")
			a.sponsor.sponsor--7(href="https://1win-partner.com/" target="_black")
				p.sponsor__desc
					span Hangover 
					| Sponsor
				img.sponsor__photo(src="img/svg/sponsor_6.svg", alt="")
			a.sponsor.sponsor--5(href="https://everad.com/" target="_black")
				p.sponsor__desc
					span Gold 
					| Sponsor
				img.sponsor__photo(src="img/svg/sponsor_5.svg", alt="")
			a.sponsor.sponsor--8(href="https://t.me/masonschat" target="_black")
				p.sponsor__desc
					span Hookah 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_7.png", alt="")