section.sponsors
	.container
		h2.sponsors__title.title GENERAL SPONSOR
		img.sponsors__main(src="img/svg/main_sponsor.svg", alt="GENERAL SPONSOR")
		.sponsors__list
			.sponsor.sponsor--1
				p.sponsor__desc
					span Exclusive 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_1.png", alt="")
			.sponsor.sponsor--2
				p.sponsor__desc
					span Welcome  
					| Sponsor
				img.sponsor__photo(src="img/sponsor_2.png", alt="")
			.sponsor.sponsor--3
				p.sponsor__desc
					span DJ&Show 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_3.png", alt="")
			.sponsor.sponsor--4
				p.sponsor__desc
					span Photo Zone 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_4.png", alt="")
			.sponsor.sponsor--6
				p.sponsor__desc
					span Alcohol 
					| Sponsor
				img.sponsor__photo(src="img/sponsor_5.png", alt="")
			.sponsor.sponsor--4
				p.sponsor__desc
					span Hangover 
					| Sponsor
				img.sponsor__photo(src="img/svg/sponsor_6.svg", alt="")
			.sponsor.sponsor--5
				p.sponsor__desc
					span Gold 
					| Sponsor
				img.sponsor__photo(src="img/svg/sponsor_5.svg", alt="")