.timing
	.container
		h2.timing__title.title Тайминг 
			span.bg-world A
				span ff
				| hub Futurism Night:
		.timing__wrapper
			.timing-item
				p.timing-item__time 19:00 - 20:00
				p.timing-item__text Регистрация и welcome drink
			.timing-item
				p.timing-item__time 20:00 - 22:00
				p.timing-item__text Интерактивный квест
			.timing-item
				p.timing-item__time 22:00 - 23:00
				p.timing-item__text Шоу-программа 
			.timing-item
				p.timing-item__time 23:00 - 02:00
				p.timing-item__text Рейв-вечеринка