section.venue
	.container
		h2.venue__title.title Место встречи
		.venue__wrap
			picture
				source(media="(max-width: 479px)", srcset="img/svg/point_mob.svg")
				img.venue__icon(src="img/svg/point.svg", alt="point")
			.venue__info
				p.venue__place.title Art-zavod Platforma
				p.venue__street ул. Магнитогорская, 1-А